<h1>New blogs</h1>
<%= form_for(@blog) do |f| %>
	<p>タイトル<p>
	<%= f.text_field :title %>
	<p>本文<p>
	<%= f.text_field :body %>
	<p>作成者<p>
	<%= f.text_field :author %>
	<%= f.submit"送信" %>
	<% end %>